.searchResults {
    background-color: #00000040;
    width: 400px;
    color: white;

    padding: 20px 20px;
    min-height: 300px;
    border-radius: 10px;
    
}


.h2 {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    text-align: start;
    margin: 0;

}
