.searchField {
    padding: 5px;
    border-radius: 50px;
    margin: 10px 0 40px;

    outline: 0;
    border: 0;

    text-align: center;
}

.searchBtn {
    border-radius: 50px;
    margin-bottom: 40px;
    padding: 8px 20px;

    color: white;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    outline: 0;

    font-weight: 600;
}

.searchBtn:hover{
    cursor: pointer;
    background-color: #ffffff15;
}