.btn {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    outline: 0;
    border: 1px solid white;

    color: white;
    background-color: transparent;
}

.btn:hover {
    background-color: black;
    cursor: pointer;
}